<!DOCTYPE html>
<html>
<body>
<form  id="form" action="getpicture" method="post">
<select id="action" name="select" >
    <option style="display:none" selected="selected" value="">Select</option>
    <option value="1">all</option>
    <option value="2">animal</option>
    <option value="3">thing</option>

</select>
</form>

<ul>
    {% for item in pictures %}
        <li> <img src="/{{item}}" ></li>
        {% else %}
        <li> no</li>

    {% endfor %}
</ul>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script>
    $("#action").change( function (){
        $("#form").submit();
    });
</script>


</body>
</html>